<!-- injecting to base.html -->
{% extends 'base.html' %}

<!-- title block -->
{% block title %}
Todo App
{% endblock %}


<!-- content block -->
{% block content %}
<div class="container">

    <h1>📝 Todo App</h1>

    <div class="stats">
        Total Tasks: {{ tasks|length }}
    </div>

    <form method="POST" class="add-task">

        {% csrf_token %}
        {{ form.title }}
        <button type="submit" class="add-btn">
            Add
        </button>

    </form>

    <ul>

        {% for task in tasks %}

        <li class="task-item">

            <div class="task-left">

                <form action="/toggle/{{ task.id }}/" method="POST" style="display:inline;">

                    {% csrf_token %}

                    <input type="checkbox" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>

                </form>

                {% if task.completed %}
                <span class="completed">
                    {{ task.title }}
                </span>
                {% else %}
                <span>
                    {{ task.title }}
                </span>
                {% endif %}

            </div>

            <a href="/delete/{{ task.id }}/" class="delete-btn">
                Delete
            </a>

        </li>

        {% empty %}

        <li style="text-align:center; padding:20px; color:#888;">
            No tasks yet. Add your first task
        </li>

        {% endfor %}

    </ul>

</div>
{% endblock %}